<%= form_with(model: @product) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
  <div>
    <%= form.label :categories, 'Categories (comma-separated)' %>
    <%= form.text_field :categories, value: @product.categories.map(&:name).join(", "), placeholder: "Enter comma-separated categories" %>
  </div>
  <%= form.submit %>
<% end %>